body {
    overflow: hidden;
    > nav {
        height: 60px;
        background-color: white;
        display: flex;
        font-family: Nunito Sans,Avenir,Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2px;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid lightgrey;
        border-top: none;
        justify-content: space-between;
        > h1 {
            margin-left: 20px;
        }
        > h2 {
            margin-right: 20px;
            font-weight: 100;
            font-size: 23px;
        }
    }
}

#effect-1 {
    display: inline-block;
    height: 40px;
    background-color: hsl(1, 98%, 50%);
    border-radius: 15px;
    box-shadow: 3px 5px 4px rgba(0,0,0,0.4);
    > ul {
        height: inherit;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        /* use nth-child() to select one dropdown tab */
        text-transform: uppercase;
        padding: 0;
        > li {
            height: inherit;
            width: 140px;
            display: block;
            padding: 0;  
            align-items: center;  
            text-align: center;  
            padding-top: 8px;
        }
    }

    h2 {
        height: 32px;
        font-weight: 300;
        font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
        color: white;
        font-size: 20px;
        text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
        margin: 0;
    }

    /* dropdown-menu class */
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        padding: 0;
        > li {
            position: relative;
            text-align: center;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            padding: 5px;
            font-weight: 500;
        }
        > li:nth-child(5) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }   
}

