.fixed {
    position: fixed;
    top: 4px;
}

#effect-1 {
    z-index: 100;    
    display: inline-block;
    height: 32px;
    background-color: hsl(1, 98%, 50%);
    border-radius: 15px;
    box-shadow: 3px 5px 4px rgba(0,0,0,0.4);

    @keyframes menu1 {
        from {
            transform: rotateY(-90deg) translateY(-30px) translateZ(-60px);
            opacity: 0;
        }
        to {
            transform: none;
            opacity: 1;
        }
    }

    @keyframes menu2 {
        0% {
            transform: rotateX(-90deg);
            opacity: 0;
        }

        70% {
            transform: rotateX(40deg);
        }
        100% {
            transform: none;
            opacity: 1;
        }
    }

    @keyframes menu3 {
        0% {
            transform: scale(0.3) translateY(-30px);
            opacity: 0;
        }

        70% {
            transform: scale(1.2) translateY(10px);
        }
        100% {
            transform: none;
            opacity: 1;
        }
    }


    @keyframes menu4 {
        0% {
            transform: rotateY(-180deg) skew(30deg, 30deg);
            opacity: 0;
        }

        100%{
            transform: none;
            opacity: 1;
        }
    }


    /* when hovering over any of the li's */


    ul.drpdwn-menu li {
        display: none;
    }


    > ul {
        height: inherit;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        /* use nth-child() to select one dropdown tab */
        text-transform: uppercase;
        padding: 0;
        > li {
            height: inherit;
            width: 140px;
            display: block;
            padding: 0;  
            align-items: center;  
            text-align: center;  
            padding-top: 5px;
        }
    }

    h2 {
        height: 32px;
        font-weight: 300;
        font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
        color: white;
        font-size: 20px;
        text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
        margin: 0;
    }

    /* dropdown-menu class */
    .drpdwn-menu {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        padding: 0;
        > li {
            position: relative;
            text-align: center;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            padding: 5px;
            font-weight: 500;
        }
        > li:nth-child(5) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }   


    li:hover > ul.drpdwn-menu.menu-one {
        perspective: 1000px;
        transform-origin: top;
        li {
            background-image: linear-gradient(to bottom, yellow, red);
            display: block;
            opacity: 0;
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    animation: {
                        name: menu1;
                        duration: .2s;
                        delay: (130ms * $i) - 130;
                        fill-mode: forwards;
                    }    
                }   
            }          
        }
    }



    li:hover > ul.drpdwn-menu.menu-two {
        perspective: 1000px;

        li {
            background-image: linear-gradient(to bottom, yellow, red);
            display: block;
            opacity: 0;
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    animation: {
                        name: menu2;
                        duration: .2s;
                        delay: (130ms * $i) - 130;
                        fill-mode: forwards;
                        timing-function: ease-out;
                    }    
                }   
            }          
        }
    }

    li:hover > ul.drpdwn-menu.menu-three {
        perspective: 1000px;

        li {
            background-image: linear-gradient(to bottom, yellow, red);
            display: block;
            opacity: 0;
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    animation: {
                        name: menu3;
                        duration: .2s;
                        delay: (130ms * $i) - 130;
                        fill-mode: forwards;
                        timing-function: ease-out;
                    }    
                }   
            }          
        }
    }
    li:hover > ul.drpdwn-menu.menu-four {
        perspective: 1000px;
        li {
            background-image: linear-gradient(to bottom, yellow, red);
            display: block;
            opacity: 0;
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    animation: {
                        name: menu4;
                        duration: .2s;
                        delay: (130ms * $i) - 130;
                        fill-mode: forwards;
                        timing-function: ease-out;
                    }    
                }   
            }          
        }
    }
    
}

.remove-left-border-radius {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    transition: 1s;
}

.remove-right-border-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transition: 1s;
}

