

$theme-colors: (
    "primary": #d957 00
);

$bg-color: red;

#effect-4 {
    /*
    height: 200vh !important;
    box-sizing: content-box;
    > .jumbotron {
        background-color: #ededed;
        border-top: 3px solid rgb(219, 219, 219);
    }
    */
    .form-inline.d-inline {
        width: 80%;
        > input {
            width: 89%;
        }
    }
}

@media(max-width: 770px) {
    #effect-4 {
        height: 350vh !important;
    }
}

