#effect-2 {
    
    display: flex;
    justify-content: center;
    padding-top: 23px;
    @keyframes enlargeImage {
        0% {
            
            transform: none;
            border-radius: 10px;
        }

        20%{
            transform: scale(.15) rotateZ(-360deg);
            border-radius: 500px;
        }
/*
        85% {
            border-radius: 10px;
            transform: scale(2.2) rotateZ(0deg);
        }
        
*/
        85% {
            opacity: 1;
        }
        99% {
            opacity: 0;
            transform: scale(4);
            border-radius: 10px;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    @keyframes animateBorder {
        0% {
            background-position: 0% 0%;
        }

        50% { 
            background-position: 300% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    @keyframes presentImage {
        0% {
            transform: scale(3) rotate(0deg);
            opacity: .14;
            border-radius: 0;
        }


        33% {
            transform: scale(.4) rotate(188deg);
            border-radius: 50%;
        }

        92% {
            border-radius: 0;
            opacity: 1;
            transform: scale(1.15) rotate(368deg);
        }
        100% {
            border-radius: 10px;
            opacity: 1;
            transform: rotate(360deg);
        }
    }
/*
       0% {
            transform: scale(3) rotate(8deg);
            opacity: .14;
            border-radius: 0;
        }


        33% {
            transform: scale(.4) rotate(188deg);
            border-radius: 50%;
        }

        95% {
            border-radius: 0;
            opacity: 1;
            transform: rotate(368deg);
        }
        100% {
            transform: rotate(360deg);
        }
*/
    .grid-wrapper-effect2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        grid-gap: 10px;
        height: 90vh;
        width: 90vh;
        grid-template-areas: 
            "photo1 photo2 photo3 photo4"
            "photo5 presentation presentation photo6"
            "photo7 presentation presentation photo8"
            "photo9 photo10 photo11 photo12";

/* modifications begin */
        > section > div {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            border-radius: 10px;
            -moz-border-radius: 10px;
            z-index: 2;
        }

        > section {
            text-align: center;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            border-radius: 10px;
            -moz-border-radius: 10px;
            z-index: 2;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to bottom, #272627 0%, #020102 100%);
            > h1 {
                z-index: -1;
                position: absolute;
                top: 48px;
                left: 0 !important;
                width: 100%;
                font-family: Nunito Sans,Avenir,Helvetica,Arial,sans-serif;
                font-size: 20px;
                font-weight: 900;
                letter-spacing: 2px;
                color: white;
            }
            > img {
                z-index: -1;
                
                position: absolute;
                top: 101px;
                
                width: 40px;
                height: 40px;
            }
        }

        > section:hover > div{
            top: 50%;
            left: 0;
            z-index: 3;
            animation: {
                name: enlargeImage;
                duration: 1s;
                timing-function: ease-in;
                delay: .2s;
                fill-mode: forwards;
            }
        }


        #grid-cell-1-bed{
            grid-area: photo1;
        }
        #grid-cell-2-bed{
            grid-area: photo2;
        }
        #grid-cell-3-bed{
            grid-area: photo3;
        }
        #grid-cell-4-bed{
            grid-area: photo4;
        }
        #grid-cell-5-bed{
            grid-area: photo5;
        }
        #grid-cell-6-bed{
            grid-area: photo6;
        }
        #grid-cell-7-bed{
            grid-area: photo7;
        }
        #grid-cell-8-bed{
            grid-area: photo8;
        }
        #grid-cell-9-bed{
            grid-area: photo9;
        }
        #grid-cell-10-bed{
            grid-area: photo10;
        }
        #grid-cell-11-bed{
            grid-area: photo11;
        }
        #grid-cell-12-bed{
            grid-area: photo12;
        }
        #grid-cell-1 {
            grid-area: photo1;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/astro_salute.jpg?raw=true");
        }
        #grid-cell-2 {
            grid-area: photo2;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/california.jpg?raw=true");
        }
        #grid-cell-3 {
            grid-area: photo3;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/cat.jpg?raw=true");
        }
        #grid-cell-4 {
            grid-area: photo4;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/cool_shirt.jpg?raw=true");
        }
        #grid-cell-5 {
            grid-area: photo5;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/pray.jpg?raw=true");
        }
        #grid-cell-6 {
            grid-area: photo6;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/ernst_and_young.jpg?raw=true");
        }
        #grid-cell-7 {
            grid-area: photo7;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/korean_jigu.jpg?raw=true");
        }
        #grid-cell-8 {
            grid-area: photo8;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/lonely_boi.jpg?raw=true");
        }
        #grid-cell-9 {
            grid-area: photo9;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/mom_plant_baby.jpg?raw=true");
        }
        #grid-cell-10 {
            grid-area: photo10;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/wind_turbine.jpg?raw=true");            
        }
        #grid-cell-11 {
            grid-area: photo11;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/nyc_night.jpg?raw=true");
        }
        #grid-cell-12 {
            grid-area: photo12;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/owl.jpg?raw=true");
        }



        #presentation-cell-blur {
            grid-area: presentation;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, yellow 0%, #81A158 25%, red 50%, #16D024 75%, darkblue 100%);
            background-size: 400%;
            animation: animateBorder 20s linear infinite;
            filter: blur(20px);
            z-index: 0;
        }

        #presentation-cell-border {
            grid-area: presentation;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: relative;
        }

        #presentation-cell {
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: linear-gradient(to bottom, #272627 0%, #020102 100%);
            > p {
                font-size: 22px;
                background-color: none;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
            }
        }

        .image-div {
            position: absolute;
            opacity: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
        }


        .present-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("/src/assets/astro_salute.jpg");
            animation: {
                name: presentImage;
                timing-function: ease-out;
                duration: 1.5s;
                delay: 1.3s;
                fill-mode: forwards;
            }
        }
    }

}

