$font-family: Nunito Sans,Avenir,Helvetica,Arial,sans-serif;
$font-size: 20px;
$letter-spacing: 2px;

@keyframes lightUpSection {
    from {
        background-color: white;
    }
    10% {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

@keyframes decaySection {

}

.light-up-section {
    animation: {
        name: lightUpSection;
        duration: 5s;
        delay: 1s;
        timing-function: ease-out;
        fill-mode: forwards;
    }
}

#effect-3 {
    @keyframes moveHamburger {
        from {
            transform: none;
        }
        to {
            transform: translateX(60px)
        }
    }

    .grid-wrapper-effect3{
        height: 100%;
    }

    .main-nav {
        /* TEST NAV BAR START */
        display: none;
        /* TEST NAV BAR END */ 
        width: 100%;
        > ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style: none;
            text-align: center;
            padding: 0 10px;
            margin: 0;
            position: relative;
            top: 7vh;
            > li {
                grid-gap: 20px;
                width: 100%;
                background-color: #fc2602;
                border-radius: 5px;
                box-shadow: 4px 4px 4px black;
                display: inline-block;
                width: 100%;
                height: 60px;
                line-height: 60px;
                background-color: #353441;
            }
            > li:hover {
                background-color: #ff7c66;
                transform: translateY(-10px);
                transition: .2s;
            }
        }
        > img {
            display: none;
        }
    }

    .body {
        > .nav-bar {
            > ul {
                color: white;
                > li {
                    border-bottom: 1px solid darkgrey;
                    border-right: 1px solid darkgrey;
                }
            }
        }
    }

    .move-hamburger {
        animation: {
            name: moveHamburger;
            duration: 1s;
            fill-mode: forwards;
        }
    }
    




    @media(max-width: 800px) {
        .main-nav {
            > ul {
                display: none;
            }
            > img {
                display: block;
                width: 30px;
                height: 30px;
                /* margin-top: 10vh; */
                position: relative;
                top: 7vh;
                float: right;
                right: 2vh;
            }
        }
    }
}

/* Nav Bar example code https://www.youtube.com/watch?v=jGks-v42YRA */




.body {
    font-family: $font-family;
    font-size: 12px;
    perspective-origin: 0% 50%;
    perspective: 800px;
    height: 100%;
    position: relative;
    background: #353441;

    nav, #main {
        /* triggers when transform value is different */
        transition: transform 150ms ease-out;
    }

    nav {
        z-index: 101;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 16em;
        background-color: #353441;
        transform: translateX(-16em); 

        > .hamburger {
            position: absolute;
            background-image: url("https://github.com/jc4883/AnimationDemo/blob/master/src/assets/hamburger.png?raw=true");
            background-size: 42%;
            background-position: center;
            width: 50px;
            height: 50px;
            right: -50px;
            background-color: #353441;
            z-index: 101;
            padding: 0px;
            background-repeat: no-repeat;
        }   

        > .hamburger:hover {
            background-color: gray;
        }
        
        >ul {
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                width: 100%;
                height: 60px;
                line-height: 60px;
                background-color: #353441;
            }

            > li:hover {
                background-color: gray;
            }
        }    
    }

    /* You can't nest this inside nav */
    nav.menu-hover {
        transform: translateX(-15em);
    }  

    nav.menu-active {
        transform: translateX(0);
    }

    #main {
        z-index: 100;
        position: absolute !important;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-image: url('https://github.com/jc4883/AnimationDemo/blob/master/src/assets/woods.jpg?raw=true') !important;
        background-size: cover;
        /* point of rotation */
        transform-origin: 0% 50%;  
        background-color: lightgray;      

        > .menu-active::after {
            /* Doesn't disrupt DOM flow */
            visibility: visibility;
            opacity: 1;
            transition: opacity 150ms ease-out, visibility 0s;
        }

        > section {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 1em 4em;
            max-width: 680px;
            overflow: auto;
            background-color:lightgreen;
            > h1 {
                font-weight: 800;
                text-transform: uppercase;
                font-size: 2em;
            }
            > p {
                display: inline-block;
                margin: 16px 0;
            }
        }
    }

    #main::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
        visibility: hidden;
        opacity: 0;
        /* for visibility, <property> <duration> <delay> */
        transition: opacity 150ms ease-out, visibility 0s 150ms;
    }

    #main.menu-active {
        border-radius: 0.001px;
        transform: translateX(16em) rotateY(15deg);
    }
    #main.menu-hover {
        border-radius: .001px;
        transform: translateX(1em) rotateY(1deg);
    }   

    
}








